# Large folders
data/
models/
outputs/
uploads/

# YOLO models
*.pt
*.pth
*.weights
!models/
!models/**/*.pt
!models/**/*.pth
!models/**/*.weights

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store
